{{>layouts/header}}
<!-- jumbotron -->
<div class="jumbotron">
    <h1>개인정보 보호 페이지</h1>
    <hr>
    <p>articles/privacy.mustache</p>
    <p>{{privacy_msg}}</p> <!-- 모델 데이터를 가져 옴 -->
</div>
{{>layouts/footer}}